*{
    user-select: none;
    font-size: 1.1rem;
    font-family: sans-serif;
    overflow-x: hidden;
    outline: none;
}
body>*{
    transition: .4s ease-in-out;

}
.upper{
    text-transform: uppercase;
}
.upr{
    font-size: 1.3rem;
    font-weight: normal;
    width: 74%;
    text-align: center;
}
.center{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.center-al{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pg-pad{
    padding: 4rem;
}
.centerw{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.bg1{
    background-image: url(../assets/backgrounds/h_img.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.bg2{
    background-image: url(../assets/backgrounds/s_image.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
}
.bg3{
    background-image: url(../assets/backgrounds/c_image.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 1rem 3rem 1rem;
}
.maskdark{
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background:linear-gradient(45deg ,rgba(128, 0, 187, 0.4),rgba(52, 0, 95, 0.4),rgba(1, 0, 10, 0.4),rgba(0, 0, 0, 0.4)) rgba(2, 5, 46, 0.45);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.maskdark-2{
    color: white;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg ,rgba(0, 0, 0, 0.42),rgba(0, 0, 0, 0.42),rgba(0, 0, 44, 0.42));
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    align-items: center;
    justify-content: center;

}
.logo{
    width: 4.5rem;
    height: 4.5rem;
    border: .15rem solid white ;
    border-radius: 3rem;
    color: white;
    background: none;
    font-size: 2rem;
    outline: none;
}
.scroll-icon{
  position: absolute;
  bottom:3rem;
}
.row-btn{
    padding:2.5rem ;
    border-radius: .4rem;
    border: none;
    background: none;
    margin: 1.5rem;
}
.row-btn:hover{
    box-shadow: 0 .1rem .6rem -.2rem blue;
}
.cards{
    align-self: center;
    justify-self: center;
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    padding: 3rem 8rem ;
}
.card{
    width: 23%;
    min-width: 11rem;
    margin: .4rem;
    height: 11rem;
    background-size: 100 100;
    background: url(../assets/portfolio/work1.jpg);
}

.card:nth-child(2){
    background: url(../assets/portfolio/work2.jpg);
}
.card:nth-child(3){
    background: url(../assets/portfolio/work3.jpg);
}
.card:nth-child(4){
    background: url(../assets/portfolio/work4.jpg);
}
.card:nth-child(5){
    background: url(../assets/portfolio/work5.jpg);
}
.card:nth-child(6){
    background: url(../assets/portfolio/work6.jpg);
}
.card:nth-child(7){
    background: url(../assets/portfolio/work7.jpg);
}
.card:nth-child(8){
    background: url(../assets/portfolio/work8.jpg);
}
.cardchild{
    padding: .25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: .2rem;
    background-color: none;
    transition: .3s ease;
    color: rgba(255, 255, 255, 0);
}
.cardchild:hover{
    transition: .3s ease;
    color: white;
    opacity: 1;
    background:linear-gradient(30deg , rgba(51, 51, 51, 0.6), rgba(11, 1, 34, 0.6), rgba(0, 0, 0, 0.65));
    cursor: pointer;

}
.ins{
    width:100%;
    height: 100%;
    border:.15rem solid white;
    border-radius: .3rem;
}
.hide{
    opacity: 0;
    height: 0;
}
.visible{
    width:fit-content;
    height: fit-content;
    opacity: 1;
    padding: 1rem 10vw;
    width: 100vw;
    align-self: center;
    text-align: center;
}
#txt{
    color: rgb(255, 255, 255);
    width: 40%;
    background: none;
    margin: 1rem .5rem;
    border-radius: .2rem;
    border: 2px solid #ffffff;

    padding: .2rem 1rem;
}
#txt:focus{
    box-shadow: 0 .1rem .6rem -.1rem rgb(149, 149, 177);

}
#txtarea{
    
    background: none;
    color: rgb(255, 255, 255);
    width: 80%;
    min-height: 10rem;
    margin: 1rem .5rem;
    border-radius: .2rem;
    border: 2px solid #ffffff;
   
    padding: .2rem 1rem;
}
#txtarea::placeholder,#txt::placeholder{
    color: rgb(212, 212, 212);
}
.link{
    margin: .3rem 1rem;
    cursor: pointer;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem .2rem;
}
@media screen and (orientation:portrait){
    .cards{
        padding: 1rem .2rem;

    }
    .card{
        width: 90vw;
        height: 90vw;
    }
}